*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
# Local Netlify folder
.netlify
.tweet-cache
__pycache__
_notebooks/processed_data/paracrawl_v6_en-ga.csv
_notebooks/processed_data/paracrawl_v6_en-ga.tmx
